{% extends 'layout.html' %} {% block title %}Care Homes{% endblock %} 

{% block styles %}
<style>

    th, tr {
        cursor: pointer;
    }
</style>
{% endblock %} 

{% block body %}
    <input type="search" id="carehome-filter" placeholder="Filter">
    <table id="carehomes-table" class="table table-responsive table-striped">
        <thead>
            <tr>   
                <th scope="col" class="carehome-sorter">Operator<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Carehome<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">City<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Phone<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Email<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Certification<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Type<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Rooms<i class="fas fa-chevron-up"></i></th>
                <th scope="col" class="carehome-sorter">Openings<i class="fas fa-chevron-up"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for carehome in carehomes %}
            <tr class="carehome" data-id="{{ carehome.id }}">
                <td>{{ carehome.operator.name }}</td>
                <td>{{ carehome.name }}</td>
                <td>{{ carehome.operator.address.city }}</td>
                <td>{{ carehome.operator.phone }}</td>
                <td>{{ carehome.operator.address.email }}</td>
                <td>{{ carehome.operator.certification.value }}</td>
                <td>{{ carehome.type.name }}</td>
                {% if carehome.rooms|length > 1 %}
                    <td>
                        {{ carehome.rooms[0].type.value }}({{ carehome.rooms[0].amount }}), {{ carehome.rooms[1].type.value }}({{ carehome.rooms[1].amount }})
                    </td>
                {% else %}
                    <td>{{ carehome.rooms[0].type }}({{carehome.rooms[0].amount}})</td>
                {% endif %}
                <td>{{ carehome.open_rooms }}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %} 

{% block scripts %}
<script src="{{ url_for('static', filename='js/carehomefilter.js') }}"></script>
<script>
    const carehomes = document.querySelectorAll('.carehome');

    for(let carehome of carehomes) {
        carehome.addEventListener('click', carehomeClick);
        carehome.addEventListener('mouseover', carehomeHover);
        carehome.addEventListener('mouseleave', carehomeUnHover);
    }

    function carehomeHover() {
        this.style = 'background-color: lightgrey'
    }

    function carehomeUnHover() {
        this.style = '';
    }

    function carehomeClick() {
        window.location = '/carehome/' + this.getAttribute('data-id');
    }
</script>
{% endblock %}